<!-- Start Side Navigation -->
<aside class="side-nav shadow bg-white rounded">
    <nav class="navbar">
        <div class="nav-container">
            <a class="navbar-brand" href="{{ .Site.Params.baseURL }}">
                <!-- add your logo -->
                <img src="{{ .Site.Params.logo | relURL  }}" alt="Logo Image">
            </a>
            <div class="nav-items">
                <!-- menu items -->
                {{ range .Site.Menus.main }}
                <a class="nav-link active" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
            </div>
        </div>
    </nav>
</aside>
<!-- End Side Navigation -->

<style>
    .side-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 200px; /* adjust width as needed */
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto; /* scrollable contents */
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .navbar-brand {
        padding: 10px 20px;
    }

    .nav-items a {
        padding: 10px 20px;
        text-decoration: none;
        font-size: 16px;
        color: #333;
        display: block;
    }

    .nav-items a:hover {
        background-color: #f8f8f8;
    }
</style>
